<ion-header>
    <ion-navbar>
        <ion-title>
            Create Report
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-item>
        <ion-label id="headLabel">Basic Information</ion-label>
    </ion-item>
    <div class="border">
        <ion-item>
            <ion-label color="primary">Projectname:</ion-label>
            <ion-input [(ngModel)]="projectname"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label color="primary">Employee Initials:</ion-label>
            <ion-input [(ngModel)]="employeeshort"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label color="primary">Date:</ion-label>
            <ion-input [(ngModel)]="date"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label color="primary">Building Component:</ion-label>
            <ion-input [(ngModel)]="buildingcomponent"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label color="primary">Workpiececlamping:</ion-label>
            <ion-input [(ngModel)]="workpiececlamping"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label color="primary">Strength of Material:</ion-label>
            <ion-input [(ngModel)]="strength"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label color="primary">Information:</ion-label>
            <ion-input [(ngModel)]="information"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label color="primary">Summary:</ion-label>
            <ion-input [(ngModel)]="summary"></ion-input>
        </ion-item>
    </div>
    <br/>

    <ion-item>
        <ion-label id="headLabel">Customer</ion-label>
    </ion-item>
    <button ion-button round (click)="doCustomer()">Get Customer from Database</button>
    <div class="border">
        <ion-item>
            <ion-label color="primary">Name:</ion-label>
            <ion-input [(ngModel)]="name"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label color="primary">Branch:</ion-label>
            <ion-input [(ngModel)]="branch"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label color="primary">Contact:</ion-label>
            <ion-input [(ngModel)]="contactpartner"></ion-input>
        </ion-item>
    </div>
    <br/>
    <ion-item>
        <ion-label id="headLabel">Engine</ion-label>
    </ion-item>
    <button ion-button round (click)="doEngine()">Get Engine from Database</button>
    <div class="border">
        <ion-item>
            <ion-label color="primary">Manufacturer:</ion-label>
            <ion-input [(ngModel)]="manufacturer"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label color="primary">Type:</ion-label>
            <ion-input [(ngModel)]="type"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label color="primary">Spindle:</ion-label>
            <ion-input [(ngModel)]="spindle"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label color="primary">Coolant outside:</ion-label>
            <ion-input [(ngModel)]="coolantOut"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label color="primary">Coolant inside:</ion-label>
            <ion-input [(ngModel)]="coolantIn"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label color="primary">Power:</ion-label>
            <ion-input [(ngModel)]="power"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label color="primary">Rotation Speed:</ion-label>
            <ion-input [(ngModel)]="rotationSpeed"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label color="primary">Feed:</ion-label>
            <ion-input [(ngModel)]="feed"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label color="primary">Construction Year:</ion-label>
            <ion-input [(ngModel)]="constructionYear"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label color="primary">Hourly Rate:</ion-label>
            <ion-input [(ngModel)]="hourlyRate"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label color="primary">Programming:</ion-label>
            <ion-input [(ngModel)]="programming"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label color="primary">Controlling:</ion-label>
            <ion-input [(ngModel)]="controlling"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label color="primary">Path: </ion-label>
            <ion-input [(ngModel)]="path"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label color="primary">Picturename: </ion-label>
            <ion-input [(ngModel)]="picturename"></ion-input>
        </ion-item>
    </div>

    <br/>
    <ion-item>
        <ion-label id="headLabel">Material</ion-label>
    </ion-item>
    <button ion-button round (click)="doMaterial()">Get Material from Database</button>
    <div class="border">
        <ion-item>
            <ion-label color="primary">dinCode:</ion-label>
            <ion-input [(ngModel)]="dinCode"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label color="primary">enCode:</ion-label>
            <ion-input [(ngModel)]="enCode"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label color="primary">Designation:</ion-label>
            <ion-input [(ngModel)]="designation"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label color="primary">Hardness:</ion-label>
            <ion-input [(ngModel)]="hardness"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label color="primary">Material Group:</ion-label>
            <ion-input [(ngModel)]="materialGroup"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label color="primary">cr-percent:</ion-label>
            <ion-input [(ngModel)]="crpercent"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label color="primary">si-percent:</ion-label>
            <ion-input [(ngModel)]="sipercent"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label color="primary">ni-percent:</ion-label>
            <ion-input [(ngModel)]="nipercent"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label color="primary">cu-percent:</ion-label>
            <ion-input [(ngModel)]="cupercent"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label color="primary">nb-percent:</ion-label>
            <ion-input [(ngModel)]="nbpercent"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label color="primary">ce-percent:</ion-label>
            <ion-input [(ngModel)]="cepercent"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label color="primary">zn-percent:</ion-label>
            <ion-input [(ngModel)]="znpercent"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label color="primary">wp-percent:</ion-label>
            <ion-input [(ngModel)]="wppercent"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label color="primary">mn-percent:</ion-label>
            <ion-input [(ngModel)]="mnpercent"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label color="primary">v-percent:</ion-label>
            <ion-input [(ngModel)]="vpercent"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label color="primary">ti-percent:</ion-label>
            <ion-input [(ngModel)]="tipercent"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label color="primary">co-percent:</ion-label>
            <ion-input [(ngModel)]="copercent"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label color="primary">al-percent:</ion-label>
            <ion-input [(ngModel)]="alpercent"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label color="primary">b-percent:</ion-label>
            <ion-input [(ngModel)]="bpercent"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label color="primary">s-percent:</ion-label>
            <ion-input [(ngModel)]="spercent"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label color="primary">n-percent:</ion-label>
            <ion-input [(ngModel)]="npercent"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label color="primary">mo-percent:</ion-label>
            <ion-input [(ngModel)]="mopercent"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label color="primary">pb-percent:</ion-label>
            <ion-input [(ngModel)]="pbpercent"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label color="primary">fe-percent:</ion-label>
            <ion-input [(ngModel)]="fepercent"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label color="primary">c-percent:</ion-label>
            <ion-input [(ngModel)]="cpercent"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label color="primary">mg-percent:</ion-label>
            <ion-input [(ngModel)]="mgpercent"></ion-input>
        </ion-item>
    </div>

    <br/>

    <ion-item>
        <ion-label id="headLabel">Tool</ion-label>
    </ion-item>
    <div class="border">
        <ion-item>
            <ion-label color="primary">Manufacture:</ion-label>
            <ion-input [(ngModel)]="manufacture"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label color="primary">Manufacture Picture:</ion-label>
            <ion-input [(ngModel)]="manufacturepicture"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label color="primary">Is Competitor:</ion-label>
            <ion-checkbox [(ngModel)]="iscompentitor"></ion-checkbox>
        </ion-item>
        <ion-item>
            <ion-label color="primary">Toolholder:</ion-label>
            <ion-input [(ngModel)]="toolholder"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label color="primary">ToolID:</ion-label>
            <ion-input [(ngModel)]="toolid"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label color="primary">Insert:</ion-label>
            <ion-input [(ngModel)]="insert"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label color="primary">Coating:</ion-label>
            <ion-input [(ngModel)]="coating"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label color="primary">Flutes:</ion-label>
            <ion-input [(ngModel)]="flutes"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label color="primary">Cuttingedges:</ion-label>
            <ion-input [(ngModel)]="cuttingedges"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label color="primary">Diameter:</ion-label>
            <ion-input [(ngModel)]="diameter"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label color="primary">Necklength:</ion-label>
            <ion-input [(ngModel)]="necklength"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label color="primary">Overhang:</ion-label>
            <ion-input [(ngModel)]="overhang"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label color="primary">Processing:</ion-label>
            <ion-input [(ngModel)]="processing"></ion-input>
        </ion-item>
    </div>

    <ion-item>
        <ion-label id="headLabel">ValuePage</ion-label>
    </ion-item>
    <div class="border">
        <ion-item>
            <ion-label color="primary">Processing:</ion-label>
            <ion-input [(ngModel)]="processingVP"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label color="primary">Noise:</ion-label>
            <ion-input [(ngModel)]="noise"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label color="primary">Cooling:</ion-label>
            <ion-input [(ngModel)]="cooling"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label color="primary">Operationtime:</ion-label>
            <ion-input [(ngModel)]="operationtime"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label color="primary">Ofwear:</ion-label>
            <ion-input [(ngModel)]="ofwear"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label color="primary">Wearintensity:</ion-label>
            <ion-input [(ngModel)]="wearintensity"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label color="primary">Strategy:</ion-label>
            <ion-input [(ngModel)]="strategy"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label color="primary">Materialremovalrate:</ion-label>
            <ion-input [(ngModel)]="materialremovalrate"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label color="primary">Rampingangle:</ion-label>
            <ion-input [(ngModel)]="rampingangle"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label color="primary">Application:</ion-label>
            <ion-input [(ngModel)]="application"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label color="primary">Actual Cutting Speed:</ion-label>
            <ion-input [(ngModel)]="actualcuttingspeed"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label color="primary">Actual Spindle Speed:</ion-label>
            <ion-input [(ngModel)]="actualspindlespeed"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label color="primary">Actual Feed per Minute:</ion-label>
            <ion-input [(ngModel)]="actualfeedperminute"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label color="primary">Actual Feed per Tooth:</ion-label>
            <ion-input [(ngModel)]="actualfeedpertooth"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label color="primary">Actual Feed per Revolution:</ion-label>
            <ion-input [(ngModel)]="actualfeedperrevolution"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label color="primary">Actual Axial:</ion-label>
            <ion-input [(ngModel)]="actualaxial"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label color="primary">Actual Radial:</ion-label>
            <ion-input [(ngModel)]="actualradial"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label color="primary">Expected Cutting Speed:</ion-label>
            <ion-input [(ngModel)]="expectedcuttingspeed"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label color="primary">Expected Spindle Speed:</ion-label>
            <ion-input [(ngModel)]="expectedspindelspeed"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label color="primary">Expected Feed per Minute:</ion-label>
            <ion-input [(ngModel)]="expectedfeedperminute"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label color="primary">Expected Feed per Tooth:</ion-label>
            <ion-input [(ngModel)]="expectedfeedpertooth"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label color="primary">Expected Feed per Revolution:</ion-label>
            <ion-input [(ngModel)]="expectedfeedperrevolution"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label color="primary">Expected Axial:</ion-label>
            <ion-input [(ngModel)]="expectedaxial"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label color="primary">Expected Radial:</ion-label>
            <ion-input [(ngModel)]="expectedradial"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label color="primary">Has a Video:</ion-label>
            <ion-checkbox [(ngModel)]="hasavideo"></ion-checkbox>
        </ion-item>
        <ion-item>
            <ion-label color="primary">Applicationtype:</ion-label>
            <ion-input [(ngModel)]="aplicationtype"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label color="primary">Resolution:</ion-label>
            <ion-input [(ngModel)]="resulotion"></ion-input>
        </ion-item>
        <button ion-button round (click)="addTool()">Add Tool</button>
    </div>

    <button ion-button block (click)="saveReport()">Save Report</button>

    <div ng-include src="'templates/tool.html'"></div>
</ion-content>