page-createReport{
    ion-input{
        width: 100%;
        max-width: auto;
    }

    #headLabel{
        font-size: 2em;
    }

    ion-grid {
        margin-top: 10px;
    }

    ion-col {
        border: solid black 1px;
        display: flex;
        text-align: center;
        justify-content: center;
    }

    .gridMaterial {
        width: 40%;
        display: flex;
        text-align: center;
        justify-content: center;
        font-weight: bold;
    }

    .border{
        border: solid rgb(0, 153, 255) 2px;
    }
}