<ion-header>
    <ion-navbar>
        <ion-title>
            View Report
        </ion-title>
    </ion-navbar>
</ion-header>
<ion-content padding>
    <h1 style="text-align: center">View Report</h1>
    <ion-grid>
        <ion-row>
            <ion-col>
                <ion-card>
                    <ion-card-header>
                        <div class="headline">Tool</div>
                    </ion-card-header>
                    <ion-card-content>
                        <ion-grid>
                            <ion-row>
                                <ion-col col-sm-3>
                                    <div class="colhead">Supplier:</div>
                                </ion-col>
                                <ion-col>
                                    <select id="searchSupplier">
                                        <option>Select a value</option>
                                        <option *ngFor="let item of suppliers">{{item.value}}</option>
                                    </select>
                                </ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-col col-sm-3>
                                    <div class="colhead"> Group:</div>
                                </ion-col>
                                <ion-col>
                                    <select id="searchGroup">
                                        <option>Select a value</option>
                                        <option *ngFor="let item of groups">{{item.value}}</option>
                                    </select>
                                </ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-col col-sm-3>
                                    <div class="colhead">Diameter:</div>
                                </ion-col>
                                <ion-col>
                                    <input class="viewInput" type="text" name="searchDiameter" placeholder="Enter a diameter" />
                                </ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-col col-sm-3>
                                    <div class="colhead">Article Nr.:</div>
                                </ion-col>
                                <ion-col>
                                    <input class="viewInput" type="text" name="searchArticleNr" placeholder="Enter an article number" />
                                </ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-col col-sm-3>
                                    <div class="colhead">WsP-Quality:</div>
                                </ion-col>
                                <ion-col>
                                    <input class="viewInput" type="text" name="searchWspQuality" placeholder="Enter a WsP-quality" />
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                    </ion-card-content>
                </ion-card>
            </ion-col>
            <ion-col>
                <ion-card>
                    <ion-card-header>
                        <div class="headline">Material</div>
                    </ion-card-header>
                    <ion-card-content>
                        <ion-grid>
                            <ion-row>
                                <ion-col col-sm-3>
                                    <div class="colhead">Material Grp.:</div>
                                </ion-col>
                                <ion-col>
                                    <select [(ngModel)]="materialGroup" id="searchMaterialGroup">
                                        <option>Select a value</option>
                                        <option *ngFor="let item of materialgroups">{{item.value}}</option>
                                    </select>
                                </ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-col col-sm-3>
                                    <div class="colhead">Description:</div>
                                </ion-col>
                                <ion-col>
                                    <input [(ngModel)]="description" class="viewInput" type="text" name="searchDescription" placeholder="Enter a description"
                                    />
                                </ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-col col-sm-3>
                                    <div class="colhead">Dincode:</div>
                                </ion-col>
                                <ion-col>
                                    <input [(ngModel)]="dincode" class="viewInput" type="text" name="searchDinCode" placeholder="Enter a Dincode" />
                                </ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-col col-sm-3>
                                    <div class="colhead">Encode:</div>
                                </ion-col>
                                <ion-col>
                                    <input [(ngModel)]="encode" class="viewInput" type="text" name="searchEnCode" placeholder="Enter a Encode" />
                                </ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-col col-sm-3>
                                    <div class="colhead">Strength:</div>
                                </ion-col>
                                <ion-col>
                                    <select [(ngModel)]="strength" id="searchStrength">
                                        <option>Select a value</option>
                                        <option *ngFor="let item of strengths">{{item.value}}</option>
                                    </select>
                                </ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-col col-sm-3>
                                    <div class="colhead">Hardness:</div>
                                </ion-col>
                                <ion-col>
                                    <select [(ngModel)]="hardness" id="searchHardness">
                                        <option>Select a value</option>
                                        <option *ngFor="let item of hardnesses">{{item.value}}</option>
                                    </select>
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                    </ion-card-content>
                </ion-card>
            </ion-col>
            <ion-col>
                <ion-card>
                    <ion-card-header>
                        <div class="headline">Engine</div>
                    </ion-card-header>
                    <ion-card-content>
                        <ion-grid>
                            <ion-row>
                                <ion-col col-sm-3>
                                    <div class="colhead">Manufacturer:</div>
                                </ion-col>
                                <ion-col>
                                    <input [(ngModel)]="manufacturer" class="viewInput" type="text" name="searchManufacturer" placeholder="Enter a manufacturer"
                                    />
                                </ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-col col-sm-3>
                                    <div class="colhead">Model:</div>
                                </ion-col>
                                <ion-col>
                                    <input [(ngModel)]="model" class="viewInput" type="text" name="searchModel" placeholder="Enter a model" />
                                </ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-col col-sm-3>
                                    <div class="colhead">Spindle:</div>
                                </ion-col>
                                <ion-col>
                                    <select [(ngModel)]="spindle" id="searchSpindle">
                                        <option>Select a value</option>
                                        <option *ngFor="let item of spindles">{{item.value}}</option>
                                    </select>
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-card>
                    <ion-card-header>
                        <div class="headline">Customer</div>
                    </ion-card-header>
                    <ion-card-content>
                        <ion-grid>
                            <ion-row>
                                <ion-col col-sm-3>
                                    <div class="colhead">Company:</div>
                                </ion-col>
                                <ion-col>
                                    <input [(ngModel)]="company" class="viewInput" type="text" name="searchCompany" placeholder="Enter a company" />
                                </ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-col col-sm-3>
                                    <div class="colhead">Branch:</div>
                                </ion-col>
                                <ion-col>
                                    <select [(ngModel)]="branch" id="searchBranch">
                                        <option>Select a value</option>
                                        <option *ngFor="let item of branches">{{item.value}}</option>
                                    </select>
                                </ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-col col-sm-3>
                                    <div class="colhead">Usage:</div>
                                </ion-col>
                                <ion-col>
                                    <select id="searchUsage">
                                        <option>Select a value</option>
                                        <option *ngFor="let item of usages">{{item.value}}</option>
                                    </select>
                                </ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-col col-sm-3>
                                    <div class="colhead">Competition:</div>
                                </ion-col>
                                <ion-col>
                                    <select id="searchCompetition">
                                        <option>Select a value</option>
                                        <option *ngFor="let item of competitions">{{item.value}}</option>
                                    </select>
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                    </ion-card-content>
                </ion-card>
            </ion-col>
            <ion-col>
                <ion-card>
                    <ion-card-header>
                        <div class="headline">Creator</div>
                    </ion-card-header>
                    <ion-card-content>
                        <ion-grid>
                            <ion-row>
                                <ion-col col-sm-3>
                                    <div class="colhead">Initials:</div>
                                </ion-col>
                                <ion-col>
                                    <select [(ngModel)]="employeeshort" id="searchInitials">
                                        <option>Select a value</option>
                                        <option *ngFor="let item of initials">{{item.value}}</option>
                                    </select>
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                    </ion-card-content>
                </ion-card>
            </ion-col>
            <ion-col>

            </ion-col>
        </ion-row>
    </ion-grid>

    <div>
        <button (click)="searchReports()" ion-button block>Search</button>
    </div>
   
</ion-content>