﻿@model newTRM.Models.AddUserModel
<form asp-action="AddUser" asp-controller="Role">
    <h3>Add User</h3>
    <div >
        <label asp-for="Email" ></label>
        <input asp-for="Email" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="Password" ></label>
        <input asp-for="Password"/>
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <button type="submit">Add</button>
</form>