﻿@model List<newTRM.Models.UsersModel>
@{
    ViewData["Title"] = "User Management";
}

<div class="container">
    <h2>User Management</h2>
    <!--Load addUser partial view-->
    @*@Html.Partial("AddUser", new AddUserModel())*@
    <div>
        <table class="table">
            <tr>
                <th>User</th>
                <th>Is Admin</th>
                <th>Is Employee</th>
                <th></th>
            </tr>
            @foreach (var user in Model)
            {
                <tr>
                    <td>
                        @user.Username
                    </td>
                    <td>
                        @if (user.IsAdmin)
                        {
                            <i class="glyphicon glyphicon-ok" style="color:#00ff00; font-size:2em; vertical-align:middle"></i>
                        }
                        else
                        {
                            <i class="glyphicon glyphicon-remove" style="color:#ff0000; font-size:2em; vertical-align:middle"></i>
                        }
                    </td>
                    <td>
                        @if (user.IsEmployee)
                        {
                            <i class="glyphicon glyphicon-ok" style="color:#00ff00; font-size:2em; vertical-align:middle"></i>
                        }
                        else
                        {
                            <i class="glyphicon glyphicon-remove" style="color:#ff0000; font-size:2em; vertical-align:middle"></i>
                        }
                    </td>

                    <td style="text-align: right">

                        <div class="btn-group dropright">
                            <i class="glyphicon glyphicon-cog dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color:#000000; font-size:2em; vertical-align:middle"></i>

                            <div class="dropdown-menu" x-placement="right-start" style="position: absolute; transform: translate3d(111px, 0px, 0px); top: 0px; left: 0px; will-change: transform;">
                                <table class="table">
                                    <tr>
                                        <td class="dropdown-item">
                                            <form asp-controller="Role" asp-action="DeleteUser" asp-route-id="@user.UserId">
                                                <button type="submit" class="btn">
                                                    <i class="glyphicon glyphicon-trash" style="color:#000000; font-size:1.5em; vertical-align:middle"></i>
                                                    Delete User
                                                </button>
                                            </form>
                                        </td>
                                    </tr>
                                    <tr>

                                        @if (user.IsAdmin)
                                        {
                                            <td class="dropdown-item">
                                                <form asp-controller="Role" asp-action="RevokeRole" asp-route-id="@user.UserId" asp-route-role="Admin">
                                                    <button type="submit" class="btn">

                                                        <i class="glyphicon glyphicon-minus-sign" style="color:#ff0000; font-size:1.5em; vertical-align:middle"></i>
                                                        Revoke Admin

                                                    </button>
                                                </form>
                                            </td>
                                        }
                                        else
                                        {
                                            <td class="dropdown-item">

                                                <form asp-controller="Role" asp-action="GiveRole" asp-route-id="@user.UserId" asp-route-role="Admin">
                                                    <button type="submit" class="btn">
                                                        <i class="glyphicon glyphicon-plus-sign" style="color:#00ff00; font-size:1.5em; vertical-align:middle"></i>
                                                        Add Admin
                                                    </button>
                                                </form>
                                            </td>

                                        }
                                    </tr>
                                    <tr>
                                        @if (user.IsEmployee)
                                        {
                                            <td class="dropdown-item">
                                                <form asp-controller="Role" asp-action="RevokeRole" asp-route-id="@user.UserId" asp-route-role="Employee">
                                                    <button type="submit" class="btn">
                                                        <i class="glyphicon glyphicon-minus-sign" style="color:#ff0000; font-size:1.5em; vertical-align:middle"></i>
                                                        Revoke Employee
                                                    </button>
                                                </form>
                                            </td>
                                        }
                                        else
                                        {
                                            <td class="dropdown-item">
                                                <form asp-controller="Role" asp-action="GiveRole" asp-route-id="@user.UserId" asp-route-role="Employee">
                                                    <button type="submit" class="btn">
                                                        <i class="glyphicon glyphicon-plus-sign" style="color:#00ff00; font-size:1.5em; vertical-align:middle"></i>
                                                        Add Employee
                                                    </button>
                                                </form>
                                            </td>
                                        }
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </td>
                </tr>
            }
        </table>

    </div>
</div>
