<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      TRM - Tool Report Management
    </ion-title>
    
  </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-item>
    <ion-label class="headline">TRM - Tool Report Management</ion-label>
  </ion-item>
  
  <hr>
  <h1 style="text-align: center">Recently Used Reports</h1>
    <br/>
    <div>
        <ion-list>
            <ion-item *ngFor="let item of usedReports">
                <ion-card>
                    <ion-card-content>
                        Report Nr {{item[0].id}} from {{item[0].date | date: 'dd.MM.yyyy'}}: {{item[0].projectname}}
                        <ion-fab right middle>
                            <button ion-fab>
                                <ion-icon name="settings"></ion-icon>
                            </button>
                            <ion-fab-list side="left">
                                <button ion-fab (click)="view(item[0])">
                                    <ion-icon name="eye"></ion-icon>
                                </button>
                                <button ion-fab (click)="download(item[0])">
                                    <ion-icon name="download"></ion-icon>
                                </button>
                            </ion-fab-list>
                        </ion-fab>
                    </ion-card-content>
                </ion-card>
            </ion-item>
        </ion-list>
    </div>
</ion-content>