<ion-menu [content]="content">
    <ion-header>
        <ion-toolbar>
            <ion-title>Menu</ion-title>
        </ion-toolbar>
    </ion-header>

    <ion-content>
        <ion-list>
            <button ion-button block (click)="createReportButton()" color="light">Create Report</button>
            <button ion-button block (click)="viewReportButton()" color="light">View Report</button>
            <button ion-button block (click)="settingsMaterial()" color="light" icon-start>
                <ion-icon name="settings"></ion-icon> Material
            </button>
            <button ion-button block (click)="settingsEngine()" color="light" icon-start>
                <ion-icon name="settings"></ion-icon> Engine
            </button>
            <button ion-button block (click)="settingsCustomer()" color="light" icon-start>
                <ion-icon name="settings"></ion-icon> Customer
            </button>
        </ion-list>
    </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>