@{
    ViewData["Title"] = "Index";
}
@inject SignInManager<ApplicationUser> SignInManager

@if (SignInManager.IsSignedIn(User))
{
    <div style="text-align:center; width:auto;">
        @if (User.IsInRole("Employee") || User.IsInRole("Admin"))
        {
            <div class="card" style="width: 20rem; text-align:center;display:inline-block;margin-top:15px; margin-left:15px; border:solid; border-width:thin; border-color:grey">
                <div class="card-block" style="display:inline-block">
                    <h4 class="card-title" style="font-size:large">Create Report</h4>
                    <p style="font-size:medium" class="card-text">Create a new report</p>
                    <a style="font-size:medium" asp-area="" asp-controller="Report" asp-action="Create">Create</a>
                </div>
            </div>
            <div class="card" style="width: 20rem; text-align:center;display:inline-block;margin-top:15px; margin-left:15px; border:solid; border-width:thin; border-color:grey">
                <div class="card-block" style="display:inline-block">
                    <h4 class="card-title" style="font-size:large">Search Reports</h4>
                    <p style="font-size:medium" class="card-text">Search for a report</p>
                    <a style="font-size:medium" asp-area="" asp-controller="TRM" asp-action="Search">Search</a>
                </div>
            </div>
        }
        @if (User.IsInRole("Admin"))
        {
            <div class="card" style="width: 20rem; text-align:center;display:inline-block;margin-top:15px; margin-left:15px; border:solid; border-width:thin; border-color:grey">
                <div class="card-block" style="display:inline-block">
                    <h4 class="card-title" style="font-size:large">Manage Users</h4>
                    <p style="font-size:medium" class="card-text">Adjust a users role</p>
                    <a style="font-size:medium" asp-area="" asp-controller="Role" asp-action="RoleManagement">Adjust</a>
                </div>
            </div>
        }
        <div id="noteDiv">

        </div>

    </div>
}
else
{
    <div style="text-align:center; width:auto">
        <div class="card" style="width: 20rem; text-align:center;display:inline-block;margin-top:15px;">
            <div class="card-block">
                <h4 class="card-title" style="font-size:large">Please Login</h4>
                <p style="font-size:medium" class="card-text">Login in order to create and view reports.</p>
                <a style="font-size:medium" asp-area="" asp-controller="Account" asp-action="Login">Log in</a>
            </div>
        </div>
    </div>

}
@if (SignInManager.IsSignedIn(User))
{
    @if (User.IsInRole("Employee") || User.IsInRole("Admin"))
    {
        @section Scripts {
            <script src="~/js/loadNotes.js"></script>
            <link href="~/css/noteList.css" rel="stylesheet" />
            <script src="~/js/deleteNotes.js"></script>

        }
    }
}

