﻿@model List<newTRM.NewModels.Note>

@inject SignInManager<ApplicationUser> SignInManager

<h1 style="margin-top:35pt">Notes</h1>
@foreach (var n in Model)
{
    <div id="note @n.Id" class=".full">
        <flex-container-1>
            <!-- main container -->

            <flex-item>
                <textarea class="form-control" disabled="disabled">
                @n.Text
            </textarea>

            </flex-item><!-- flex item #1 (first column) -->

            <flex-container-2>
                <!-- flex item #2 / nested flex container (second column) -->

                <flex-item style=" border-bottom:2px solid #b6b4b4">
                    <h4>Date: @n.Date.Value.ToString("dd.MM.yyyy")</h4>
                </flex-item>

                <flex-item style=" border-bottom:2px solid #b6b4b4">
                    <h4>Creator: @n.Employeeshort</h4>
                </flex-item>
                @if (User.IsInRole("Admin"))
                {
                    <flex-container-3>
                        <flex-item>
                            <form asp-controller="Report" asp-action="NoteReport">
                                @Html.HiddenFor(m => n.Id)
                                @Html.HiddenFor(m => n.Text)
                                @Html.HiddenFor(m => n.Date)
                                @Html.HiddenFor(m => n.Employeeshort)
                                <button class="btn btn-success" type="submit" style="font-size:large">Create</button>
                            </form>
                        </flex-item>
                        <flex-item>
                            <button class="btn btn-danger" onclick="deleteNote(@n.Id)" style="font-size:large">Delete</button>
                        </flex-item>
                    </flex-container-3>
                }
                else
                {
                    <flex-item>
                        <form asp-controller="Report" asp-action="NoteReport">
                            @Html.HiddenFor(m => n.Id)
                            @Html.HiddenFor(m => n.Text)
                            @Html.HiddenFor(m => n.Date)
                            @Html.HiddenFor(m => n.Employeeshort)
                            <button class="btn btn-success" type="submit" style="font-size:large">Create</button>
                        </form>
                    </flex-item>
                }


            </flex-container-2><!-- close nested container -->

        </flex-container-1><!-- close main container -->
    </div>
}


