@model  newTRM.Models.Search
@{
    ViewData["Title"] = "Search";
}

<div class="container">
    <h2 class="jumbotron text-center">Search a Report</h2>
    <form class="center-block form-inline" asp-controller="TRM" asp-action="Search" method="post">
        @*<div class="form-group row col-md-6">
                <h3>Tool</h3>
                <label class="col-md-3">Supplier</label>
                <select class="form-control " id="searchSupplier">
                    <option value="">Select a supplier</option>
                </select>
                <br />
                <label class="col-md-3">Group</label>
                <select class="form-control" id="searchGroup">
                    <option value="">Select a group</option>
                </select>
                <br />
                <label class="col-md-3">Diameter</label>
                <input type="number" class="form-control" name="searchDiameter" placeholder="Enter a diameter" />
                <br />
                <label class="col-md-3">Article Nr.</label>
                <input type="text" class="form-control" name="searchArticleNr" placeholder="Enter an article number" />
                <br />
                <label class="col-md-3">WsP-Quality</label>
                <input type="text" class="form-control" name="searchWspQuality" placeholder="Enter a WsP-quality" />
            </div>*@

        <div class="form-group row col-md-6">
            <h3>Material</h3>
            <label asp-for="S_Material.materialgroup" class="control-label col-md-3"></label>
            <input asp-for="S_Material.materialgroup" class="form-control" id="S_Material.materialgroup" />
            <br />
            <label asp-for="S_Material.designation" class="control-label col-md-3"></label>
            <input asp-for="S_Material.designation" class="form-control" id="S_Material.designation" />
            <br />
            <label asp-for="S_Material.dincode" class="control-label col-md-3"></label>
            <input asp-for="S_Material.dincode" class="form-control" id="S_Material.dincode" />
            <br />
            <label asp-for="S_Material.encode" class="control-label col-md-3"></label>
            <input asp-for="S_Material.encode" class="form-control" id="S_Material.encode" />
            <br />
            <label asp-for="S_Material.hardness" class="control-label col-md-3"></label>
            <input asp-for="S_Material.hardness" class="form-control" id="S_Material.hardness" />
            <br />
            <label asp-for="S_Report.strength" class="control-label col-md-3"></label>
            <input asp-for="S_Report.strength" class="form-control" id="S_Report.strength" />
        </div>
        <div class="form-group row col-md-6">
            <h3>Maschine</h3>
            <label asp-for="S_Engine.manufacture" class="control-label col-md-3"></label>
            <input asp-for="S_Engine.manufacture" class="form-control" id="S_Engine.manufacture" />
            <br />
            <label asp-for="S_Engine.typ" class="control-label col-md-3"></label>
            <input asp-for="S_Engine.typ" class="form-control" id="S_Engine.typ" />
            <br />
            <label asp-for="S_Engine.spindel" class="control-label col-md-3"></label>
            <input asp-for="S_Engine.spindel" class="form-control" id="S_Engine.spindel" />
        </div>
        <div class="form-group row col-md-6">
            <h3>Customer</h3>
            <label asp-for="S_Customer.name" class="control-label col-md-3"></label>
            <input asp-for="S_Customer.name" class="form-control" id="S_Customer.name" />
            <br />
            <label asp-for="S_Customer.branch" class="control-label col-md-3"></label>
            <input asp-for="S_Customer.branch" class="form-control" id="S_Customer.branch" />
        </div>
        <div class="form-group row col-md-6">
            <h3>Creator</h3>
            <label asp-for="S_Report.employeeshort" class="control-label col-md-3"></label>
            <input asp-for="S_Report.employeeshort" class="form-control" id="S_Report.employeeshort" />
        </div>
        <div class="form-group row col-md-6">
            <div class="col-md-4 col-md-offset-1">
                <button type="submit" class="btn btn-primary" style="margin-top:5em">Search</button>
            </div>
        </div>
    </form>

</div>


