﻿flex-item button {
    width: 100%;
    height: 100%;
}

flex-container-1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    min-height: 100px;
    /*width: 400px;*/
    border: 1px solid #777;
    border-color: lightgrey;
    background-color: darkgrey;
    margin-top: 15pt;
}

flex-container-3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
}

    flex-container-3 > flex-item {
        flex: 0 0 50%;
    }

textarea {
    min-height: 125px;
}

.full {
    width: 100%;
    margin-top: 25pt;
}

flex-container-1 > flex-item {
    height: 90%;
    flex: 0 0 50%;
    /*border: 1px dashed #333;*/
    background-color: white;
    min-height: 90pt;
    text-align: left;
    border-right: 3px solid #b6b4b4;
}

flex-container-2 {
    height: 90%;
    flex: 0 0 50%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

flex-container-2 > flex-item {
    flex: 0 0 30%;
    /*border: 1px solid #777;*/
    background-color: lightgrey;
    text-align: center;
    min-height: 30pt
}
