﻿body {
    background-color: lightblue;
}

.doneButton {
    position: absolute;
    bottom: 0;
    right: 0;
}

.bodyDiv {
    position: relative;
}

li.newReportCheckItem {
    margin-bottom: 50px;
    color: blue;
}

.liContent {
    margin-left: 10px;
}

.doneButton {
    border: medium solid yellow;
    background-color: darkblue;
    color: white;
    border-radius: 50px;
    font-size: 15px;
}

.checkMark {
    position: fixed;
    left: 25%;
}

.liContent button {
    border: medium solid yellow;
    background-color: darkblue;
    color: white;
    border-radius: 50px;
    margin-right: 100px;
}

form.CustomerForm, form.MachineForm, form.MaterialForm, form.PicturesForm, form.ToolForm {
    width: 80%;
    margin: 0 auto;
}

label, input, select, textarea, button {
    /* in order to define widths */
    display: inline-block;
}

label {
    width: 30%;
    /* positions the label text beside the input */
    text-align: right;
}

/* only the submit button is matched by this selector,
   but to be sure you could use an id or class for that button */
input + input {
    float: right;
}

label + input, label + select, label + textarea {
    width: 30%;
    /* large margin-right to force the next element to the new-line
       and margin-left to create a gutter between the label and input */
    margin: 0 4% 0 4%;
}
