<ion-header>
  <ion-navbar>
    <ion-title>Search Results</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h1 style="text-align: center">Search Results</h1>
    <br/>
    <div class="searchResult">
        <ion-list>
            <ion-item *ngFor="let item of selectedReports">
                <ion-card>
                    <ion-card-content>
                        Report Nr {{item.id}} from {{item.date | date: 'dd.MM.yyyy'}}: {{item.projectname}}
                        <ion-fab right middle>
                            <button ion-fab>
                                <ion-icon name="settings"></ion-icon>
                            </button>
                            <ion-fab-list side="left">
                                <button ion-fab (click)="view(item)">
                                    <ion-icon name="eye"></ion-icon>
                                </button>
                                <button ion-fab (click)="download(item)">
                                    <ion-icon name="download"></ion-icon>
                                </button>
                                <button ion-fab (click)="delete(item)">
                                    <ion-icon name="trash"></ion-icon> 
                                </button>
                            </ion-fab-list>
                        </ion-fab>
                    </ion-card-content>
                </ion-card>
            </ion-item>
        </ion-list>
    </div>
</ion-content>
