<!--
  Generated template for the SettingsCustomerPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
      <ion-title>Settings Material</ion-title>
    </ion-navbar>
  
  </ion-header>
  
  
  <ion-content padding>
    <ion-list>
      <ion-item *ngFor="let item of allMaterials">
        <ion-card>
          <ion-card-content>
            Material Nr. {{item.id}}, {{item.designation}}
            <ion-fab right middle>
              <button ion-fab>
                <ion-icon name="settings"></ion-icon>
              </button>
              <ion-fab-list side="left">
                <button ion-fab (click)="edit(item)">
                  <ion-icon name="brush"></ion-icon>
                </button>
              </ion-fab-list>
            </ion-fab>
          </ion-card-content>
        </ion-card>
      </ion-item>
    </ion-list>
  </ion-content>